.getstarted-container {
  display: flex;
  justify-content: space-around;

  .started-left-div {
    padding: 30px 60px;
    max-width: 50%;

    button {
      text-align: center;
    }
    h1 {
      font-size: 34px;
    }
    p {
      font-size: 23px;
    }
  }
  .started-right-div {
    flex-direction: column;

    .started-section-button {
      .button-container {
        margin: 25px 0;
        text-align: center;
        display: flex;

        .button-link {
          font-size: 1.5rem;
          width: 500px;
          height: 100%;
          padding: 10px 0;
          border: 1px solid #b4e7ce;
          border-radius: 4px;
          color: #87c38f;
          background-color: transparent;
          transition: color, background-color 0.5s;
          &:hover {
            cursor: pointer;
            background-color: #b4e7ce;
            color: #f8f2f4;
          }
        }
      }
    }
  }
}
