@import '../../scss/mixins.scss';

.getstarted-container {
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
  text-align: center;
  @include md {
    padding: 0 60px;
  }
  @include md {
    flex-wrap: wrap;
  }
  .started-left-div {
    padding: 30px 60px;
    max-width: 50%;
    @include lg {
      padding: 10px 30px;
    }
    @include md {
      max-width: 100%;
    }
    button {
      text-align: center;
    }
    h1 {
      font-size: 34px;
    }
    p {
      font-size: 23px;
    }
  }
  .started-right-div {
    flex-direction: column;

    .started-section-button {
      .button-container {
        margin: 25px 0;
        text-align: center;
        display: flex;

        .button-link {
          font-size: 1.5rem;
          width: 35vw;
          height: 100%;
          padding: 10px 0;
          border: 1px solid #b4e7ce;
          border-radius: 4px;
          color: #87c38f;
          background-color: transparent;
          transition: color, background-color 0.5s;
          @include lg {
            width: 400px;
          }
          &:hover {
            cursor: pointer;
            background-color: #b4e7ce;
            color: #f8f2f4;
          }
        }
      }
    }
  }
}
