@import '../../scss/mixins.scss';

.faq-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  .side-navbar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: fit-content;
    padding: 45px 0 0;
    font-size: 20px;
    @include md {
      display: none;
    }
    ul {
      list-style-type: none;
      h3 {
        font-size: 30px;
      }

      li {
        font-size: 23px;
        padding: 5px 0;
        a {
          &:hover {
            color: #b4e7ce;
          }
        }
      }
    }
  }
  .questions-container {
    width: 60%;
    h1 {
      padding: 10px 10px 20px;
      font-size: 40px;
      @include md {
        font-size: 30px;
      }
    }
    h2 {
      font-weight: 400;
      font-size: 38px;
      padding: 13px 0;
    }
    p {
      line-height: 1.5;
      font-size: 20px;
      padding-bottom: 35px;
      @include md {
        font-size: 20px;
        padding-bottom: 20px;
      }
    }
  }
}
