.statistics-container {
  width: 100%;
  padding: 75px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  text-align: center;
  .statistic-block {
    margin: 0;
    padding: 50px 10px;
    width: 47%;
    border: 2px solid #b4e7ce;
    border-radius: 5px;
  }
}
