.overview-container {
  background-color: #eee5e5;
  max-width: 100%;
  margin: 0 100px;
  h1 {
    text-align: center;
    padding: 10px 0 0;
    font-size: 40px;
  }
  .overview-flex {
    display: flex;
    justify-content: center;
    margin: 0 10vw;

    .overview-text-div {
      padding: 100px 0 0 0;
      max-width: 50%;
      font-size: 1.5rem;
      p {
        margin-bottom: 20px;
      }
    }
    .overview-svg-div {
      justify-content: center;

      img {
        background-color: #eee5e5;
        height: 500px;
      }
    }
  }
}
