@import '../../scss/mixins.scss';

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  background-color: rgb(228, 228, 228);
  margin-top: auto;

  @include sm {
    flex-wrap: wrap;
    flex: 1 1;
  }
  .social-container {
    padding: 30px;
    display: flex;
    align-items: center;
    .social-link {
      padding: 0 3px;
    }
  }
  .list-container {
    padding: 20px;
    text-align: center;
    ul {
      list-style-type: none;
      li {
        padding: 5px 0;
        &:hover {
          color: aquamarine;
          cursor: pointer;
        }
      }
    }
  }
}
