.error404Container {
  width: 100%;
  text-align: center;
  padding: 100px 0;
  .error404Header {
    font-weight: 400;
    font-size: 55px;
  }
  .error404Button {
    margin: 15px 0;
    font-size: 20px;
  }
}
