.whitepaper-container {
  text-align: left;
  padding: 0 200px 0 200px;
  line-height: 1.5;
  h1 {
    padding-bottom: 15px;
    font-weight: bolder;
  }
  h2 {
    padding-bottom: 5px;
    font-weight: bolder;
  }
  p {
    padding-bottom: 25px;
    font-size: 18px;
  }
  ul {
    li {
      text-align: left;
      margin-left: 15px;
    }
  }
}
