button {
  background-color: #3f784c;
  color: #f8f2f4;
  border: none;
  border-radius: 7px;
  font-size: 1.5rem;
  padding: 6px 13px;
  &:hover {
    background-color: #f8f2f4;
    color: #3f784c;
    border: 1px solid #3f784c;
    cursor: pointer;
  }
}
